In [1]:
import pandas as pd

In [6]:
df = pd.read_parquet('NYC_TMP_and_TMax_2024-01-01_2024-01-01.parquet')

In [8]:
df.head(48)

                    city  temp_F  tmax_F
datetime
2024-01-01 00:00:00  NYC    40.0     NaN
2024-01-01 01:00:00  NYC    40.0     NaN
2024-01-01 02:00:00  NYC    38.9     NaN
2024-01-01 03:00:00  NYC    38.0     NaN
2024-01-01 04:00:00  NYC    36.9     NaN
2024-01-01 05:00:00  NYC    36.0     NaN
2024-01-01 06:00:00  NYC    35.0     NaN
2024-01-01 07:00:00  NYC    35.0     NaN
2024-01-01 08:00:00  NYC    33.0     NaN
2024-01-01 09:00:00  NYC    33.0     NaN
2024-01-01 10:00:00  NYC    33.0     NaN
2024-01-01 11:00:00  NYC    31.9     NaN
2024-01-01 12:00:00  NYC    33.0     NaN
2024-01-01 13:00:00  NYC    34.1     NaN
2024-01-01 14:00:00  NYC    35.0     NaN
2024-01-01 15:00:00  NYC    38.0     NaN
2024-01-01 16:00:00  NYC    40.0     NaN
2024-01-01 17:00:00  NYC    40.9     NaN
2024-01-01 18:00:00  NYC    40.9     NaN
2024-01-01 19:00:00  NYC    42.0     NaN
2024-01-01 20:00:00  NYC    42.0     NaN
2024-01-01 21:00:00  NYC    42.0     NaN
2024-01-01 22:00:00  NYC    40.9     NaN
2024-01-01 23:00:00  NYC    38.9     NaN